/* All styles for your header Components live here */
.headerContainer {
  display: flex;
  flex-direction: row;
}

.thumbnailImg {
  height: 60px;
}

.headerTitle {
  display: flex;
  padding: 1% 2% 2% 2%;
}

.headerTitleFirst {
  font-weight: bold;
  padding: 0 1.5% 0 0;
}

.headerTitleSecond {
  font-size: 0.8rem;
  color: lightgray;
}

.headerContent {
  padding: 0 0 2% 2%;
}
